.mutate-panel-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.mutate-textarea {
  position: absolute;
  height: 90%;
  width: 50%;
  z-index: -1;
}
.mutate-form-btns {
  position: absolute;
  left: 0;
  top: 95%;
}
